<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="go4.szut.de.nametrainer" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".options.OptionsActivity"
            android:label="@string/options"
            android:parentActivityName=".selection.SelectionActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".main.MainActivity"/>
        </activity>
        <activity
            android:name=".groupeditor.GroupEditorActivity"
            android:permission="android.permission.READ_EXTERNAL_STORAGE"
            android:label="@string/groupeditor">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".main.MainActivity"/>
        </activity>
        <activity android:name=".selection.SelectionActivity"
            android:label="@string/selection_label">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".main.MainActivity"/>
        </activity>
        <activity android:name=".game.GameResultActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".main.MainActivity"/>
        </activity>
        <activity android:name=".game.GameActivity"
            android:label="@string/game_label">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".selection.SelectionActivity"/>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
